@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default increment and decrement buttons for number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.loader::after{
  content: "";
  width: 45px;
  height: 45px;
  border: 8px solid #D6E0F0;
  border-top-color: grey;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}
